<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>49986058558-q0i7s937sgqdtnvjajaqb0b727avh0ih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.49986058558-q0i7s937sgqdtnvjajaqb0b727avh0ih</string>
	<key>API_KEY</key>
	<string>AIzaSyAHCfwQyBwuYmcIGVk8Z_-5cy2K-Ew4SHM</string>
	<key>GCM_SENDER_ID</key>
	<string>49986058558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ciaranTreacy.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-48572</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-48572.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:49986058558:ios:cd9de50ad8d3ce3a98546f</string>
</dict>
</plist>